
.form-container{
    text-align: center;
    background-color: #1976d2;
    margin: 5rem 4rem 3rem 4rem;
    padding: 2rem 0;
    border-radius: 1rem;
}

.form-title{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 1rem;
}

.msg-error{
    color: red;
    display: flex;
    justify-content: center;
}

.msg-cargando-d-none{
    display: none;
}

.msg-cargando-d-block{
    display: flex;
    justify-content: center;
}

/*TABLET*/
@media only screen and (min-width: 768px) and (max-width:1023px){
    .form-container{
        margin: 5rem 8rem 3rem 8rem
    }
}