<p>reservar-cita works!</p>

<div id="wrapper">
    <h2>Reserve su cita</h2>

    <form action="https://formsubmit.co/jcooldevelopment@gmail.com" method="POST">
        <input type="text" name="name" required>
        <br>
        <input type="email" name="email" required>
        <br>
        <button type="submit">Enviar</button>

        <!--EXTRAS-->
        <!--Desactiva el captcha de la API-->
        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_next" value="https://www.google.es">
   </form>
</div>
