<!--TEXTO BIENVENIDA-->
<p class="text-welcome mt-3">Bienvenido, usher.</p>

<!--ÚLTIMAS NOVEDADES-->
<div>
    <p class="text-novedades ms-3 mt-4 mb-4">Últimas novedades</p>

    <!--CAROUSEL NOTICIAS-->
    <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
        <div class="carousel-inner w-100">
            <div class="carousel-item active">
                <div class="col-md-3">
                    <div class="card card-body">
                        <img class="img-fluid" src="https://via.placeholder.com/640x360?text=1">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="card card-body">
                        <img class="img-fluid" src="https://via.placeholder.com/640x360?text=2">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-md-3">
                    <div class="card card-body">
                        <img class="img-fluid" src="https://via.placeholder.com/640x360?text=3">
                    </div>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!--VER MÁS NOTICIAS-->
    <div class="enlaceNoticias">
        <a class="vernoticias" href="noticias">Ver más</a>
    </div>
</div>

<!--MÁS OPCIONES-->
<div>

    <!--ACCESO TIENDA-->
    <div class="ms-3 mt-5 mb-4">
        <a href="tienda" class="enlaceTienda">>Visita nuestra tienda</a>
        <p>Accede a nuestro catálogo de productos. Encontrarás todo lo necesario para tu entrenamiento</p>
    </div>

    <!--ACCESO MIS CITAS-->
    <div class="ms-3 mt-4 mb-4">
        <a href="citas" class="enlaceCitas">>Mis citas</a>
        <p>Accede al calendario de citas para nuestro gimnasio.</p>
    </div>

    <!--ACCESO RESERVAR-->
    <div class="ms-3 mt-4 mb-4">
        <a href="citas" class="enlaceReservar">>Reserva tu sesión de entrenamiento</a>
        <p>Solicita día y hora para utilizar nuestras instalaciones. Nuestro equipo estará encantado de ayudarte.</p>
    </div>

</div>
