.text-welcome{
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
}

p.text-novedades{
    font-weight: 800;
    font-size: 1rem;
    color: #1976d2;
}

.enlaceNoticias{
    text-align: center;
    margin-top: 1rem;
}

a.vernoticias{
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.enlaceTienda, .enlaceCitas, .enlaceReservar{
    text-align: center;
    margin-top: 1rem;
    font-weight: 800;
    font-size: 1rem;

}

span.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231976d2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

span.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231976d2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.titulo-noticia{
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.card a{
    width: 45%;
    margin: 0 auto;
}
