<!--IMAGEN-->
<div>

    <img src="../../../assets/foto-header-servicios160.jpg" class="foto-servicios">

</div>

<!--INFORMACIÓN-->
<div>

    <p class="title mt-3">Bienvenido a Forma Total Gym: Tu Destino Integral para el Bienestar</p>

</div>

<div class="ms-3 me-3">

    <p class="about">En Forma Total Gym, nos enorgullece ser más que un gimnasio; somos tu destino completo para alcanzar 
        tus metas de bienestar y fitness. Nos esforzamos por proporcionar un ambiente acogedor y motivador donde cada miembro,
        sin importar su nivel de condición física, se sienta inspirado y apoyado en su viaje hacia una vida más saludable.

        <br><br>

        <b><p class="text-center">¿Qué nos hace únicos?</p></b>
    
    </p>

    <div class="aboutlist">

        <ol>
            <li><b>Equipamiento de Vanguardia</b>: Nuestras instalaciones están equipadas con la última tecnología en aparatos
                de entrenamiento. Desde máquinas cardiovasculares de última generación hasta equipos de resistencia, tenemos
                todo lo que necesitas para un entrenamiento completo.</li>

            <li><b>Asesoramiento Profesional</b>: Nuestro equipo de entrenadores altamente capacitados está dedicado a tu éxito.
                Ofrecemos sesiones personalizadas, asesoramiento nutricional y planes de entrenamiento diseñados específicamente 
                para tus objetivos individuales.</li>

            <li><b>Ambiente Motivador</b>: En Forma Total Gym, la comunidad es clave. Fomentamos un ambiente positivo y motivador
                donde los miembros se apoyan mutuamente en su búsqueda de una vida más activa y saludable.</li>

            <li><b>Área de Alimentación Saludable</b>: Reconocemos que la nutrición es fundamental para alcanzar tus metas. Por ello,
                ofrecemos un área dedicada a opciones de alimentación saludable, con asesoramiento nutricional y productos que 
                complementan tu estilo de vida activo.</li>

            <li><b>Programas de Grupo Dinámicos</b>: Desde clases de fitness de alta intensidad hasta sesiones de yoga relajantes,
                nuestros programas de grupo te ofrecen variedad y diversión en tu rutina de ejercicios.</li>

        </ol>

    </div>

</div>

<!--SESIONES DE ENTRENAMIENTO-->
<div>

    <p class="title mt-3">Nuestras ofertas</p>

</div>

<div class="ms-3 me-3">

    <p class="about">
        Desafía tus límites en nuestras sesiones de entrenamiento en Forma Total Gym. Experimenta la intensidad, la variedad
        y el apoyo que necesitas para alcanzar tus metas fitness. ¡Únete a nosotros y transforma tu cuerpo hoy!
    </p>

    <br>

    <div class="card">
        <img src="../../../assets/foto-tarifa-entreno.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Principiante</h4>
          <p class="card-text"><b>20€/mes.</b></p>
          <p class="card-text">Adquiere las bases del entrenamiento. 2 días/semana.</p>
          <a href="citas" class="btn btn-primary">Reservar</a>
        </div>
      </div>

</div>